$white: #fff;
$black: #000;
$black-20: #22222233;
$black-50: #00000080;

$black-gradient: linear-gradient(93.03deg, #222222 0.41%, #2E2E2E 98.74%);
$black-gradient-2: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);

$red-100: #F6D0D1;
$red-300: #ED686B;
$red-500: #EC1C24;
$red-700: #9A0000;
$red-900: #9A0000;

$gray-100: #FAFAFA;
$gray-300: #E9E9E9;
$gray-500: #A8A8A8;
$gray-700: #707070;
$gray-800: #333333;
$gray-900: #222222;