.carrousel-item {
  background-color: $gray-800;
  overflow: hidden;
  border-radius: 8px;
  position: relative;

  .image-container {
    img {
      width: 100%;
      height: 204px;
      object-fit: cover;
    }

    .arrow-play-white {
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 9;

      svg {
        width: 33px;
        height: 33px;
        cursor: pointer;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .3));
        transition: .5s ease;

        path {
          fill: $white;
        }

        &:hover path {
          fill: $red-300;
        }
      }
    }
  }

  .info-container {
    padding: 1rem;
    position: relative;
    z-index: 5;

    .arrow-play-red {
      display: none;

      svg {
        cursor: pointer;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .3));
        transition: .5s ease;

        &:hover path {
          fill: $red-300;
        }
      }
    }

    .title-post-card {
      color: $red-300;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      margin-bottom: 8px;
      min-height: 32px;
    }

    .excerpt-post-card {
      color: $white;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .overflow {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .5s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
  }

  /* Hover Card */

  &:hover {
    .overflow {
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 1;
      border: 4px solid #ED686B;
    }

    .image-container .arrow-play-white svg path {
      fill: $red-300;
    }

    .info-container .arrow-play-red svg path {
      fill: $red-300;
    }

  }
}

.carrousel-feature {
  margin-bottom: 1.5rem;
}

@media(min-width: 1024px) {
  .carrousel-feature {
    background-color: transparent;
    position: relative;
    height: 656px;
    margin-bottom: 0;

    .image-container {
      img {
        height: 656px;
      }
    }

    .arrow-play-white {
      display: none;
    }

    .info-container {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 4rem 3rem;
      z-index: 5;

      .arrow-play-red {
        display: block;
        cursor: pointer;
        margin-bottom: 1rem;

        svg path {
          fill: #fff;
        }
      }

      .title-post-card {
        min-height: auto;
      }

      .excerpt-post-card {
        font-size: 26px;
        line-height: 30px;

      }
    }
  }
}