.header-carousel {
  background-color: $gray-800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;

  .title-header {
    color: $red-300;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .button-container {
    display: none;
  }

  .controls {

    .controls-horizontal,
    .controls-vertical {
      display: flex;
      gap: 0.75rem;
    }

    .controls-vertical {
      display: none;
    }

    span:not(.controls-horizontal, .controls-vertical) {
      border: 2px solid $gray-700;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      cursor: pointer;

      &.control--left {
        display: none;
      }
    }
  }
}

@media(min-width: 1024px) {
  .header-carousel {
    max-width: 1379px;
    width: 100%;
    margin: 0 auto 1.5rem;

    .button-container {
      display: block;

      a {
        color: $gray-700;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        display: flex;
        gap: 12px;
        border: 2px solid $gray-700;
        border-radius: 4px;
        padding: .875rem 1rem;
        transition: .5s ease;
        align-items: center;
        justify-content: center;

        svg path {
          transition: .5s ease;
        }

        &:hover {
          color: $white;
          text-decoration: none;
          border-color: $white;

          svg path {
            stroke: $white;
          }
        }
      }
    }

    .controls {
      .controls-vertical {
        display: flex;

        .control--up,
        .control--down {
          opacity: .3;
          background-color: $black;
          border-color: $black;
          transition: opacity .5s ease;

          &:hover {
            opacity: 1;
          }
        }
      }

      .controls-horizontal {
        display: none;
      }
    }
  }
}