@import './carrossel/header/header';
@import './carrossel/card/card';

.carrousel-grid-desktop {
  display: none;
}

@media(min-width: 1024px) {
  .carrousel-container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 1.5rem;

    &:after {
      content: '';
      position: absolute;
      bottom: 4rem;
      right: 0;
      width: 1702px;
      height: 765px;
      background: $black-gradient;
      border-radius: 8px 0px 0px 8px;
      z-index: -1;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1065px;
      height: 569px;
      background: $gray-700;
      z-index: -2;
    }
  }

  .carrousel-grid {
    max-width: 1379px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 327px;
    gap: 1.5rem;

  }

  .carrousel-grid-desktop {
    display: grid;
  }

  .carrousel-grid-mobile {
    display: none;
  }
}