@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(93.03deg, #222222 0.41%, #2E2E2E 98.74%);
}

span {
  display: inline-block;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: inherit;
}

a {
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

li {
  list-style: none;
  list-style-position: inside;
}

img,
svg {
  display: block;
  max-width: 100%;
}

@media(min-width: 1024px) {
  body {
    background: $white;
  }
}